openapi: '3.0.0'
info:
  version: 1.0.0
  title: TrackTag API
  license:
    name: MIT
servers:
  - url: https://api.tracktag.me/v1
paths:
  /tracks:
    get:
      summary: List all processed tracks
      operationId: listTracks
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of tracks
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new track processing request
      operationId: createTracks
      responses:
        201:
          description: Track processing request created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tracks/{trackId}:
    get:
      summary: Get details for a specific processed track
      operationId: showTrackById
      parameters:
        - name: trackId
          in: path
          required: true
          description: The id of the track to retrieve
          schema:
            type: string
      responses:
        200:
          description: Track details including extracted metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /uploads:
    post:
      summary: Upload music files for processing
      operationId: uploadFiles
      responses:
        201:
          description: File upload accepted for processing
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /uploads/{uploadId}:
    get:
      summary: Check status of an upload batch
      operationId: getUploadStatus
      parameters:
        - name: uploadId
          in: path
          required: true
          description: The id of the upload batch to check
          schema:
            type: string
      responses:
        200:
          description: Current processing status and progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadStatus'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Track:
      required:
        - id
        - title
      properties:
        id:
          type: string
        title:
          type: string
        artist:
          type: string
        bpm:
          type: integer
        key:
          type: string
        genre:
          type: string
        status:
          type: string
    Tracks:
      type: array
      items:
        $ref: '#/components/schemas/Track'
    UploadStatus:
      required:
        - id
        - status
      properties:
        id:
          type: string
        status:
          type: string
        progress:
          type: integer
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/Track'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string